.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

/*로그인창*/

/* id, passwd부분 정렬 */
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

/* id,passwd부분 이쁘게 만들기 */
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

/*input type이 submit이 아닐때만 저 효과 줘라*/
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

/* submit 스타일링 */

#login-form input[type="submit"] {
  background-color: var(--yellow);
  /*log in버튼에 마우스 올리면 마우스 디자인이 바뀜*/
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  /*부모로부터 색을 상속받는거 : inherit*/
  color: inherit;
  font-size: 13px;
}
